<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{- if .Site.Params.opengraph }}
		{{ template "_internal/opengraph.html" . }}
	{{- end }}
	{{- if .Site.Params.schema }}
		{{ template "_internal/schema.html" . }}
	{{- end }}
	{{- if .Site.Params.twitter_cards }}
		{{ template "_internal/twitter_cards.html" . }}
	{{- end }}

	{{- $googleFontsLink := .Site.Params.googleFontsLink | default "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" }}
	{{- if hasPrefix $googleFontsLink "https://fonts.googleapis.com/" }}
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" {{ printf `href="%s"` $googleFontsLink | safeHTMLAttr }}>
	{{- end }}

	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ $style := resources.Get "css/robinvenables.css" | resources.ExecuteAsTemplate "css/robinvenables.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">

	{{- with .OutputFormats.Get "rss" }}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">

	<link rel="apple-touch-icon" sizes="57x57" href="{{ "/apple-icon-57x57.png" | relURL }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ "/apple-icon-60x60.png" | relURL }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/apple-icon-72x72.png" | relURL }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ "/apple-icon-76x76.png" | relURL }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "/apple-icon-114x114.png" | relURL }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ "/apple-icon-120x120.png" | relURL }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ "/apple-icon-144x144.png" | relURL }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ "/apple-icon-152x152.png" | relURL }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-icon-180x180.png" | relURL }}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ "/android-icon-192x192.png" | relURL }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relURL }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ "/favicon-96x96.png" | relURL }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relURL }}">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	{{- $server := "" }}
	{{- if gt (int (index (split hugo.Version ".") 1)) "120" }}
		{{ $server = hugo.IsServer }}
	{{- else }}
		{{ $server = .Site.IsServer }}
	{{- end -}}
	{{- if not $server }}
		{{ template "_internal/google_analytics.html" . }}
	{{- end }}
</head>
<body class="body">
	<div class="container container--outer">
		{{ block "header" . }}{{ partial "header.html" . }}{{ end }}
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ block "sidebar" . }}{{ partial "sidebar.html" . }}{{ end }}
		</div>
		{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
	</div>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}
</body>
</html>