{{- $highlightColor := .Site.Params.style.vars.highlightColor }}

.authorbox__description {
    font-size: 9pt;
}

.content a:hover {
	color: {{ $highlightColor }};
	text-decoration: none;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: {{ $highlightColor }};
    text-decoration: none;
}

