<section id="list-pane" class="list">
  <ul >
    {{ range .Data.Pages.ByPublishDate.Reverse }}
    <li class="list-entry">
      <a class="list-entry-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <p class="meta">
        {{ if not .Date.IsZero }}PUBLISHED ON {{ .Date.Format .Site.Params.dateformat | upper }} {{end}}
        <span class="tag">
        {{ if isset .Params "tags" }}
        {{ $total := len .Params.tags }}
        {{ if gt $total 0 }}
        —
        {{ $total := sub $total 1 }}
        {{ range $i, $tag := sort .Params.tags }}
        <a class="tag" href="{{ "/tags/" | relURL }}{{ $tag | humanize | urlize }}">{{ $tag | upper }}</a>{{ if lt $i $total }}, {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        </span>
      </p>
      <p class="excerpt">
      {{ .Description }}
      </p>
    </li>
    {{ end }}
  </ul>
</section>
